* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}

.container {
  background-color: rgb(244, 237, 237);
  width: 50vw;
  min-height: 70vh;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 10px;
}
li {
  list-style: none;
}
.tasks {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  justify-content: space-between;
}
input {
  width: 400px;
  height: 30px;
  align-self: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

input::placeholder {
  color: lightblue;
  font-size: 14px;
  text-align: center;
}
li {
  padding: 5px;
}
button {
  border: none;
  padding: 10px;
  background-color: lightgreen;
  margin: 20px;
  border-radius: 5px;
}
